body {
  background: #363636;
}
.blur {
    -webkit-filter: blur(5px) grayscale(20%);
}

@font-face {
  font-family: Simp;
  /* Check if there is a better way to refer to the font */
  /* .eot for IE support */
  src: url('../styles/fonts/simplifica.eot') format("embedded-opentype");
  src: url('../styles/fonts/simplifica.ttf') format("truetype");
}


div.header {
  border-bottom: 2px dashed  #51e3b7;
}
.modal {
  display: block;
}
div h3 {
  padding: 10px 10px 0px 26px;
  font-size: 70px;
  color: #51e3b7;
  font-family: Simp, serif;
}

.modal-body {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
}

.search-container {
    /*display: flex;*/
    /*align-items: center*/

}
.search {
    background: transparent;
    border: 2px solid #51e3b7;
    border-radius: 3%;
    font-size: 22px;
    color: #51e3b7;
    padding: 0px 3px;
    position: relative;
    top: 36%;
    width: 100%;
}
